.navbar-brand {
  font-family: "Cookie", cursive;
  font-size: 42px;
  text-align: center;
  background: #2ca4bf;
  width: 75px;
  height: 75px;
  line-height: 60px;
  border-radius: 50%;
  box-shadow: 0 5px 10px #2ca4bf;
}

.nav-item {
  font-family: "Questrial", sans-serif;
  font-size: 18px;
}

.btn-primary {
  border-radius: 25px;
}

.hero {
  background: #f8ed86;
}
