:root {
  --secondary-yellow: #f8ed86;
  --complementary-mint: #a5e9db;
  --primary-teal: #2ca4bf;
  --tertiary-blue: #415b90;

  --main-font: "Alegreya", serif;
  --secondary-font: "Questrial", sans-serif;
  --header-font: "Cookie", cursive;
}

body {
  background-image: url(/images/main-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-brand {
  font-family: "Cookie", cursive;
  font-size: 42px;
  text-align: center;
  background: #2ca4bf;
  width: 75px;
  height: 75px;
  line-height: 60px;
  border-radius: 50%;
  box-shadow: 0 5px 10px #2ca4bf;
}

.navbar .nav-item .nav-link {
  color: var(--tertiary-blue);
}

.navbar .nav-item .nav-link:hover {
  color: var(--tertiary-blue);
}

.navbar .navbar-brand {
  color: whitesmoke;
}

.navbar .navbar-brand:hover {
  color: whitesmoke;
}

.nav-item {
  font-family: var(--secondary-font);
  font-size: 20px;
  transition-delay: 10ms;
  transition: ease-in-out;
}

.nav-item:hover {
  background-color: var(--secondary-yellow);
  font-weight: bold;
  font-size: 30px;
  border-radius: 50%;
  text-align: center;
}

.btn-primary {
  border-radius: 25px;
  text-align: center;
  background-color: var(--primary-teal);
  font-family: var(--secondary-font);
  box-shadow: 0 5px 10px var(--primary-teal);
  border: solid var(--primary-teal);
  color: white;
  margin-bottom: 15px;
  text-transform: none;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: whitesmoke;
  transition-delay: 10ms;
  transition: ease-in-out;
  color: var(--tertiary-blue);
  font-weight: bold;
  border: solid var(--tertiary-blue);
  box-shadow: none;
  border-radius: 35px;
  text-align: center;
}

.hero {
  background-color: var(--secondary-yellow);
  border: double var(--tertiary-blue);
  border-width: 10px;
  color: var(--tertiary-blue);
}

.hello {
  font-family: var(--secondary-font);
}

.header-name {
  font-family: var(--header-font);
  font-size: 136px;
  color: var(--tertiary-blue);
}

.title {
  font-size: 28px;
  font-family: var(--secondary-font);
}

.inspired {
  font-family: var(--header-font);
  font-size: 48px;
  padding-top: 35px;
}

.knowledge {
  text-align: center;
  margin-top: 45px;
  padding-top: 15px;
}

.knowledge-2 {
  text-align: center;
  margin-top: 45px;
  padding-top: 15px;
}

.fab-2,
.fab,
.fas {
  width: 45px;
  display: block;
  margin: 0 auto;
  padding-top: 15px;
}

.fab-1 {
  background: #2ca4bf;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: 0 5px 10px #2ca4bf;
  text-align: center;
}

.home-icon {
  background: #2ca4bf;
  width: 75px;
  height: 75px;
  line-height: 75px;
  border-radius: 50%;
  box-shadow: 0 5px 10px #2ca4bf;
}

.icon-name {
  font-family: var(--secondary-font);
  font-weight: bold;
}

.social-connect {
  background-color: var(--secondary-yellow);
  border: double var(--tertiary-blue);
  border-width: 10px;
  color: var(--tertiary-blue);
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.connect {
  font-family: var(--main-font);
  font-size: 42px;
}

.fa-facebook-square,
.fa-instagram-square,
.fa-envelope-square {
  font-size: 55px;
  color: var(--primary-teal);
  text-decoration: none;
}

.fa-facebook-square:hover,
.fa-instagram-square:hover,
.fa-envelope-square:hover {
  color: var(--primary-teal);
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: initial;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  font-family: var(--secondary-font);
  font-size: 12px;
  color: var(--tertiary-blue);
}

.about {
  background-color: var(--secondary-yellow);
  border: double var(--tertiary-blue);
  border-width: 10px;
  color: var(--tertiary-blue);
  padding: 30px;
  margin: 35px 5px 25px 0px;
}

.about-header {
  font-family: var(--main-font);
  font-size: 52px;
  text-align: center;
  padding-top: 75%;
}
.about-photo {
  width: 75%;
  margin-top: 15px;
  margin-left: 30px;
  border: 5px solid var(--tertiary-blue);
  border-radius: 5%;
  box-shadow: 0 5px 5px var(--tertiary-blue);
}

.about-paragraph {
  font-family: var(--secondary-font);
  font-size: 17px;
}

.icon-container {
  background-color: var(--secondary-yellow);
  border: double var(--tertiary-blue);
  border-width: 10px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.icon-box {
  border: solid var(--primary-teal);
  background: #e9eaeb;
  margin-bottom: 25px;
}

.skills {
  margin-top: 45px;
  padding: 25px 10px 25px 10px;
  border: double var(--tertiary-blue);
  border-width: 10px;
  background: var(--secondary-yellow);
}

.skills-header {
  text-align: center;
  font-family: var(--main-font);
  font-size: 42px;
  color: var(--tertiary-blue);
}

.skills-individual {
  border: solid var(--primary-teal);
  margin: 5px;
  background: #e9eaeb;
  padding-top: 25px;
  margin: 25px 10px 25px 10px;
}

.skills-heading {
  text-align: center;
  font-family: var(--main-font);
  font-size: 22px;
  color: var(--tertiary-blue);
  font-weight: bold;
  text-decoration: underline;
}

.skills-description {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 16px;
  color: var(--tertiary-blue);
}
